#u11819-6
{
	font-family: open-sans-n4, sans-serif;
}

#u11105-4,#u11105-14
{
	font-family: open-sans-n7, sans-serif;
}

#u11101-4,#u11102-35,#u11105-2,#u11105-6,#u11105-8,#u11105-9,#u11105-11,#u11105-16,#u11105-18
{
	font-family: open-sans-n3, sans-serif;
}

