#u11042-2,#u11042-5,#u11042-8,#u11042-10,#u11042-15,#u11042-17,#u11042-31,#u11042-33,#u11042-36,#u11042-38,#u11042-45
{
	font-family: open-sans-n7, sans-serif;
}

#u11054-3,#u11054-9
{
	font-family: open-sans-n6, sans-serif;
}

#u11040-4,#u11042-3,#u11042-7,#u11042-12,#u11042-14,#u11042-19,#u11042-21,#u11042-23,#u11042-24,#u11042-25,#u11042-26,#u11042-35,#u11042-40,#u11042-42,#u11042-43,#u11042-47,#u11055-4,#u11054-5,#u11054-6,#u11054-11
{
	font-family: open-sans-n3, sans-serif;
}

