#u11872-10
{
	font-family: open-sans-n6, sans-serif;
}

#u11872-2,#u11872-4,#u11872-5,#u11872-7,#u11872-12,#u11872-17,#u11872-22,#u11872-30
{
	font-family: open-sans-n7, sans-serif;
}

#u11904-8,#u11872-3,#u11872-9,#u11872-14,#u11872-15,#u11872-19,#u11872-20,#u11872-24,#u11872-25,#u11872-27,#u11872-28,#u11872-32
{
	font-family: open-sans-n3, sans-serif;
}

