#u11851-6,#u11851-11,#u11851-14,#u11851-17,#u11851-20,#u11851-23,#u11851-24,#u11851-29,#u11851-32,#u11851-35,#u11851-38,#u11851-42,#u11851-45,#u11851-48,#u11851-51,#u11851-54,#u11851-57,#u11851-60,#u11851-63,#u11851-66,#u11851-69,#u11851-72,#u11851-75,#u11851-78,#u11851-81,#u11851-84,#u11851-87,#u11851-90,#u11851-93,#u11851-96,#u11851-99,#u11851-102,#u11851-105,#u11851-108,#u11851-111,#u11851-114,#u11851-117,#u11388-9,#u11388-12,#u11388-15,#u11388-16,#u11388-21,#u11388-24,#u11388-27,#u11388-30,#u11388-31,#u11388-36,#u11388-39,#u11388-42,#u11388-45,#u11388-46,#u11388-51,#u11388-54,#u11388-57,#u11388-60,#u11388-61,#u11388-66,#u11388-69,#u11388-72,#u11388-75,#u11388-76,#u11388-81,#u11388-84,#u11388-87,#u11388-90,#u11388-91,#u11388-96,#u11388-99,#u11388-102,#u11388-105,#u11388-106,#u11388-109,#u11388-114,#u11388-117,#u11388-120,#u11388-123
{
	font-family: open-sans-n4, sans-serif;
}

#u11851,#u11851-4,#u11203-4,#u11388-6,#u11393-6
{
	font-family: open-sans-n3, sans-serif;
}

#u11851-8,#u11851-26,#u11388-18,#u11388-33,#u11388-48,#u11388-63,#u11388-78,#u11388-93,#u11388-108,#u11388-111,#u11392-4
{
	font-family: open-sans-n7, sans-serif;
}

