#u11287-10,#u11287-16,#u11287-22,#u11287-28,#u11287-34
{
	font-family: open-sans-n6, sans-serif;
}

#u11287-2,#u11287-12,#u11287-13,#u11287-18,#u11287-19,#u11287-24,#u11287-30,#u11287-31,#u11287-36,#u11404-6,#u11291-7,#u11294-9
{
	font-family: open-sans-n3, sans-serif;
}

#u11287-7,#u11287-8,#u11287-14,#u11287-20,#u11287-25,#u11287-26,#u11287-32,#u11293-7
{
	font-family: open-sans-n7, sans-serif;
}

