#u11898-6,#u12323,#u12319-4
{
	font-family: open-sans-n7, sans-serif;
}

#u12313-4
{
	font-family: open-sans-n7, sans-serif;
}

#u10772-3,#u10772-6,#u10772-9,#u10772-15
{
	font-family: open-sans-n6, sans-serif;
}

#u11885-5,#u11885-11,#u11885-15,#u11885-19,#u11885-23,#u11885-27,#u11885-28,#u11885-31,#u11885-32,#u11885-35,#u11885-36,#u11885-39,#u11885-40,#u11885-43,#u11885-44,#u11885-47,#u11885-48,#u11885-51,#u11885-52,#u11885-56,#u11885-57,#u11885-60,#u11885-61,#u11885-64,#u11885-65,#u11885-68,#u11885-69,#u11885-72,#u11885-73,#u11885-76,#u11885-77,#u11885-80,#u11885-81,#u11885-84,#u10772,#u10772-7,#u10772-13
{
	font-family: open-sans-n7, sans-serif;
}

#u10767-4,#u11885-7,#u11885-8,#u11885-12,#u11885-16,#u11885-20,#u11885-24,#u10774-4,#u10772-5,#u10772-11,#u10772-12,#u10772-17
{
	font-family: open-sans-n3, sans-serif;
}

