#u11599-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11599
{
	font-family: open-sans-i3, sans-serif;
}

#u11581-2,#u11581-15
{
	font-family: open-sans-n7, sans-serif;
}

#u11591-7,#u11581-3,#u11581-5,#u11581-6,#u11581-8,#u11581-9,#u11581-11,#u11581-12,#u11581-13,#u11581-18,#u11581-21
{
	font-family: open-sans-n3, sans-serif;
}

#u11581-16,#u11581-19
{
	font-family: open-sans-n6, sans-serif;
}

