#u11320-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11320
{
	font-family: open-sans-i3, sans-serif;
}

#u11307-4,#u11308-4,#u11308-5,#u11308-9,#u11308-10,#u11308-14,#u11308-19,#u11308-21,#u11308-23,#u11348-8
{
	font-family: open-sans-n3, sans-serif;
}

#u11308-2,#u11308-7,#u11308-12,#u11308-15,#u11308-17,#u11347-8
{
	font-family: open-sans-n7, sans-serif;
}

