#u11080-5,#u11080-7,#u11080-8
{
	font-family: open-sans-n6, sans-serif;
}

#u11389,#u11389-3,#u11078-4,#u11080-3,#u11080-6,#u11080-12,#u11080-13,#u11080-19,#u11080-20,#u11080-25,#u11080-26,#u11080-30,#u11080-31,#u11080-33,#u11080-35,#u11080-37,#u11080-38,#u11080-42,#u11080-43,#u11080-49,#u11080-50,#u11080-55,#u11080-56,#u11080-60,#u11080-63,#u11080-67,#u11080-68,#u11080-72,#u11080-73,#u11080-79,#u11080-80,#u11080-85,#u11080-86,#u11080-90,#u11080-93,#u11080-97,#u11080-98,#u11080-102,#u11080-103,#u11080-109,#u11080-110,#u11080-115,#u11080-116,#u11080-120,#u11080-123,#u11080-127,#u11080-128,#u11080-132,#u11080-133,#u11080-139,#u11080-140,#u11080-145,#u11080-146,#u11080-150,#u11082-9
{
	font-family: open-sans-n3, sans-serif;
}

#u11389-133,#u11080-4,#u11080-10,#u11080-15,#u11080-22,#u11080-28,#u11080-34,#u11080-40,#u11080-45,#u11080-52,#u11080-58,#u11080-65,#u11080-70,#u11080-75,#u11080-82,#u11080-88,#u11080-95,#u11080-100,#u11080-105,#u11080-112,#u11080-118,#u11080-125,#u11080-130,#u11080-135,#u11080-142,#u11080-148,#u11081-10
{
	font-family: open-sans-n7, sans-serif;
}

