#u11768-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11768
{
	font-family: open-sans-i3, sans-serif;
}

#u11749-2,#u11749-3,#u11749-7
{
	font-family: open-sans-n7, sans-serif;
}

#u11749-29
{
	font-family: open-sans-n6, sans-serif;
}

#u11752-6,#u11749-8,#u11749-10,#u11749-11,#u11749-13,#u11749-14,#u11749-16,#u11749-17,#u11749-19,#u11749-20,#u11749-22,#u11749-23,#u11749-25,#u11749-26,#u11749-27,#u11749-31
{
	font-family: open-sans-n3, sans-serif;
}

