#u9715-4,#u9716-10
{
	font-family: open-sans-n3, sans-serif;
}

#u9717-5,#u9717-11
{
	font-family: open-sans-n7, sans-serif;
}

#u9721-4,#u9717-12,#u9717-13,#u9720-3
{
	font-family: open-sans-n4, sans-serif;
}

#u9721,#u9720,#u9720-5
{
	font-family: open-sans-i3, sans-serif;
}

