#u9738-12,#u9738-24,#u9738-34,#u9739-3,#u9739-4,#u9739-7,#u9739-13,#u9739-14,#u9739-41,#u9739-49,#u9739-50,#u9739-71,#u9740-3,#u9740-4,#u9740-7,#u9740-24,#u9740-102
{
	font-family: open-sans-n6, sans-serif;
}

#u9738-3,#u9738-4,#u9738-9,#u9738-10,#u9738-22,#u9738-32,#u9739-5,#u9739-16,#u9739-25,#u9739-34,#u9739-43,#u9739-52,#u9739-61,#u9739-69,#u9739-80,#u9739-89,#u9739-98,#u9739-107,#u9740-5,#u9740-14,#u9740-22,#u9740-33,#u9740-42,#u9740-51,#u9740-60,#u9740-69,#u9740-76,#u9740-85,#u9740-94,#u9740-99,#u9740-100
{
	font-family: open-sans-n7, sans-serif;
}

#u9735-4,#u9738,#u9738-14,#u9738-16,#u9738-18,#u9738-20,#u9738-21,#u9738-26,#u9738-28,#u9738-30,#u9738-31,#u9738-36,#u9738-38,#u9738-40,#u9738-42,#u9738-43,#u9738-44,#u9739,#u9739-9,#u9739-11,#u9739-12,#u9739-18,#u9739-20,#u9739-22,#u9739-23,#u9739-27,#u9739-29,#u9739-31,#u9739-32,#u9739-36,#u9739-38,#u9739-40,#u9739-45,#u9739-47,#u9739-48,#u9739-54,#u9739-56,#u9739-58,#u9739-59,#u9739-63,#u9739-65,#u9739-67,#u9739-68,#u9739-73,#u9739-75,#u9739-77,#u9739-78,#u9739-82,#u9739-84,#u9739-86,#u9739-87,#u9739-91,#u9739-93,#u9739-95,#u9739-96,#u9739-100,#u9739-102,#u9739-104,#u9739-105,#u9739-109,#u9739-111,#u9739-113,#u9740,#u9740-9,#u9740-11,#u9740-12,#u9740-16,#u9740-18,#u9740-20,#u9740-21,#u9740-26,#u9740-28,#u9740-30,#u9740-31,#u9740-35,#u9740-37,#u9740-39,#u9740-40,#u9740-44,#u9740-46,#u9740-48,#u9740-49,#u9740-53,#u9740-55,#u9740-57,#u9740-58,#u9740-62,#u9740-64,#u9740-66,#u9740-67,#u9740-71,#u9740-73,#u9740-74,#u9740-78,#u9740-80,#u9740-82,#u9740-83,#u9740-87,#u9740-89,#u9740-91,#u9740-92,#u9740-96,#u9740-98,#u9740-104,#u9740-106,#u9740-107,#u9740-108,#u9740-109,#u9740-110
{
	font-family: open-sans-n3, sans-serif;
}

