#u11430-8,#u11430-15
{
	font-family: open-sans-n6, sans-serif;
}

#u11008-4,#u11430-2,#u11430-10,#u11430-11,#u11430-12,#u11430-17,#u11009-11,#u11889-2
{
	font-family: open-sans-n3, sans-serif;
}

#u11430-4,#u11430-5,#u11430-6,#u11430-13,#u11889-4,#u11889-6,#u12272,#u12277-4
{
	font-family: open-sans-n7, sans-serif;
}

#u12282-4
{
	font-family: open-sans-n7, sans-serif;
}

