#u11386-9,#u11386-19
{
	font-family: open-sans-n6, sans-serif;
}

#u11386-4,#u11386-5,#u11386-6,#u11386-7,#u11386-17,#u11386-23
{
	font-family: open-sans-n7, sans-serif;
}

#u11063-4,#u11064-11,#u11386-2,#u11386-11,#u11386-13,#u11386-15,#u11386-16,#u11386-24,#u11386-26,#u11386-28,#u11386-30
{
	font-family: open-sans-n3, sans-serif;
}

