#u11297-9,#u11297-15,#u11297-21,#u11297-27,#u11297-33
{
	font-family: open-sans-n6, sans-serif;
}

#u11297-2,#u11297-11,#u11297-12,#u11297-17,#u11297-18,#u11297-23,#u11297-24,#u11297-29,#u11297-35,#u11298-6,#u11295-7,#u11814-9
{
	font-family: open-sans-n3, sans-serif;
}

#u11297-6,#u11297-7,#u11297-13,#u11297-19,#u11297-25,#u11297-30,#u11297-31,#u11813-7
{
	font-family: open-sans-n7, sans-serif;
}

