.version.interdisciplinary_team /* version checker */
{
	color: #000006;
	background-color: #D50503;
}

.html
{
	background-color: #B8B1A6;
}

#page
{
	z-index: 1;
	width: 1320px;
	min-height: 840px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -126px;
	padding-top: 8px;
}

#pu10649
{
	width: 0.01px;
	margin-left: 82px;
}

#u10649
{
	z-index: 355;
	width: 210px;
	min-height: 62px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1024px;
}

#u10658
{
	z-index: 356;
	width: 76px;
	height: 56px;
	margin-right: -10000px;
	left: 1162px;
}

#u10652
{
	z-index: 357;
	width: 25px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1124px;
}

#u11333
{
	z-index: 365;
	width: 652px;
	margin-right: -10000px;
	margin-top: 72px;
}

#u8202
{
	z-index: 367;
	width: 259px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 909px;
}

#u10747
{
	z-index: 369;
	width: 48px;
	height: 56px;
	border-color: #000000;
	background-color: #B8B1A6;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 1238px;
}

#u10262
{
	z-index: 2;
	width: 1240px;
	margin-left: 40px;
	margin-top: 5px;
}

#menuu10038
{
	z-index: 312;
	width: 1203px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u10039
{
	width: 95px;
	min-height: 21px;
	margin-right: -10000px;
}

#u10042
{
	width: 95px;
	padding-bottom: 9px;
}

#u10043-4
{
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042:hover #u10043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10220
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 97px;
}

#u10221
{
	width: 137px;
	padding-bottom: 9px;
}

#u10223-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042.MuseMenuActive #u10043-4,#u10221:hover #u10223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10227
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 236px;
}

#u10230
{
	width: 137px;
	padding-bottom: 9px;
}

#u10232-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10221.MuseMenuActive #u10223-4,#u10230:hover #u10232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10241
{
	width: 208px;
	min-height: 21px;
	margin-right: -10000px;
	left: 375px;
}

#u10242
{
	width: 208px;
	padding-bottom: 9px;
}

#u10243-4
{
	width: 146px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10230.MuseMenuActive #u10232-4,#u10242:hover #u10243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10255
{
	width: 221px;
	min-height: 21px;
	margin-right: -10000px;
	left: 585px;
}

#u10256
{
	width: 221px;
	padding-bottom: 9px;
}

#u10258-4
{
	width: 159px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10242.MuseMenuActive #u10243-4,#u10256:hover #u10258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10248
{
	width: 260px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u10249
{
	width: 260px;
	padding-bottom: 9px;
}

#u10251-4
{
	width: 198px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10256.MuseMenuActive #u10258-4,#u10249:hover #u10251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10234
{
	width: 133px;
	min-height: 21px;
	margin-right: -10000px;
	left: 1070px;
}

#u10235
{
	width: 133px;
	padding-bottom: 9px;
}

#u10042.MuseMenuActive,#u10221.MuseMenuActive,#u10230.MuseMenuActive,#u10242.MuseMenuActive,#u10256.MuseMenuActive,#u10249.MuseMenuActive,#u10235.MuseMenuActive
{
	margin: 0px;
}

#u10236-4
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10249.MuseMenuActive #u10251-4,#u10235:hover #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10235.MuseMenuActive #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u9737-11
{
	z-index: 27;
	width: 316px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 0.8;
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 480px;
	margin-top: 34px;
	position: relative;
}

#u9737-3,#u9737-7
{
	color: #7F7F7F;
}

#u9737-8
{
	color: #FB5702;
	font-weight: bold;
}

#u9735-4
{
	z-index: 23;
	width: 498px;
	min-height: 45px;
	background-color: transparent;
	line-height: 1.1;
	font-size: 42px;
	color: #333333;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 478px;
	margin-top: 37px;
	position: relative;
}

#pu9738-46
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 38px;
}

#u9738-46
{
	z-index: 38;
	width: 350px;
	min-height: 332px;
	background-color: transparent;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
}

#u9738-3,#u9738-4,#u9738-9
{
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u9738-5
{
	color: #FF7A0B;
}

#u9738-12,#u9738-24,#u9738-34
{
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u9738-8,#u9738-41
{
	color: #000000;
}

#u9738-14,#u9738-16,#u9738-18,#u9738-20,#u9738-21,#u9738-26,#u9738-28,#u9738-30,#u9738-31,#u9738-36,#u9738-38,#u9738-40,#u9738-42,#u9738-43
{
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u9738-44
{
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u9739-115
{
	z-index: 84;
	width: 350px;
	min-height: 230px;
	background-color: transparent;
	line-height: 1.4;
	color: #333333;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u9739-3,#u9739-4,#u9739-7,#u9739-13,#u9739-14,#u9739-41,#u9739-49,#u9739-50,#u9739-71
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u9739-9,#u9739-11,#u9739-12,#u9739-18,#u9739-20,#u9739-22,#u9739-23,#u9739-27,#u9739-29,#u9739-31,#u9739-32,#u9739-36,#u9739-38,#u9739-40,#u9739-45,#u9739-47,#u9739-48,#u9739-54,#u9739-56,#u9739-58,#u9739-59,#u9739-63,#u9739-65,#u9739-67,#u9739-68,#u9739-73,#u9739-75,#u9739-77,#u9739-78,#u9739-82,#u9739-84,#u9739-86,#u9739-87,#u9739-91,#u9739-93,#u9739-95,#u9739-96,#u9739-100,#u9739-102,#u9739-104,#u9739-105,#u9739-109,#u9739-111,#u9739-113
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u9740-112
{
	z-index: 199;
	width: 360px;
	min-height: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 780px;
}

#u9738,#u9739,#u9740
{
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u9740-14,#u9740-33,#u9740-42,#u9740-51,#u9740-60,#u9740-69,#u9740-76,#u9740-85,#u9740-94
{
	font-size: 12px;
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u9740-99
{
	line-height: 1.4;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u9740-3,#u9740-4,#u9740-7,#u9740-24,#u9740-102
{
	font-size: 12px;
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u9738-10,#u9738-22,#u9738-32,#u9739-5,#u9739-16,#u9739-25,#u9739-34,#u9739-43,#u9739-52,#u9739-61,#u9739-69,#u9739-80,#u9739-89,#u9739-98,#u9739-107,#u9740-5,#u9740-22,#u9740-100
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u9740-9,#u9740-11,#u9740-12,#u9740-16,#u9740-18,#u9740-20,#u9740-21,#u9740-26,#u9740-28,#u9740-30,#u9740-31,#u9740-35,#u9740-37,#u9740-39,#u9740-40,#u9740-44,#u9740-46,#u9740-48,#u9740-49,#u9740-53,#u9740-55,#u9740-57,#u9740-58,#u9740-62,#u9740-64,#u9740-66,#u9740-67,#u9740-71,#u9740-73,#u9740-74,#u9740-78,#u9740-80,#u9740-82,#u9740-83,#u9740-87,#u9740-89,#u9740-91,#u9740-92,#u9740-96,#u9740-98,#u9740-104,#u9740-106,#u9740-107,#u9740-108,#u9740-109
{
	font-size: 12px;
	line-height: 1.4;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u9740-110
{
	font-size: 12px;
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu12088-4
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 36px;
}

#u12088-4
{
	z-index: 3;
	width: 461px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u12111
{
	z-index: 359;
	width: 27px;
	margin-right: -10000px;
	left: 460px;
}

#u12116
{
	z-index: 361;
	width: 27px;
	margin-right: -10000px;
	left: 497px;
}

#u12121
{
	z-index: 363;
	width: 27px;
	margin-right: -10000px;
	left: 534px;
}

#u12089-4
{
	z-index: 7;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 638px;
}

#u12089-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12092-4
{
	z-index: 19;
	width: 189px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 788px;
}

#u12089-4.MuseLinkActive,#u12092-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12090-4
{
	z-index: 11;
	width: 91px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 986px;
}

#u12092-4.MuseLinkActive,#u12090-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4
{
	z-index: 15;
	width: 104px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1094px;
}

#u12090-4.MuseLinkActive,#u12091-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u10736
{
	z-index: 311;
	width: 1391px;
	height: 92px;
	border-color: #000000;
	background-color: #B8B1A6;
	left: -36px;
	margin-top: 60px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1320px;
	padding-bottom: 100px;
}

