#u12039
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u11983
{
	border-color: #000000;
	background-color: #666666;
	position: relative;
}

#u12042,#menuu11989
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11986,#u11984,#u12040,#u11997,#u12000
{
	background-color: transparent;
	position: relative;
}

#u12002-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12000:hover #u12002-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12004,#u12007
{
	background-color: transparent;
	position: relative;
}

#u12010-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12007:hover #u12010-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12018,#u12021
{
	background-color: transparent;
	position: relative;
}

#u12023-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12021:hover #u12023-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12032,#u12035
{
	background-color: transparent;
	position: relative;
}

#u12038-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12035:hover #u12038-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12011,#u12012
{
	background-color: transparent;
	position: relative;
}

#u12014-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12012:hover #u12014-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12025,#u12026
{
	background-color: transparent;
	position: relative;
}

#u12027-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u12026:hover #u12027-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u11990,#u11993
{
	background-color: transparent;
	position: relative;
}

#u11995-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u11993:hover #u11995-4 p
{
	color: #B8B1A6;
	visibility: inherit;
}

#u12000.MuseMenuActive #u12002-4 p,#u12007.MuseMenuActive #u12010-4 p,#u12021.MuseMenuActive #u12023-4 p,#u12035.MuseMenuActive #u12038-4 p,#u12012.MuseMenuActive #u12014-4 p,#u12026.MuseMenuActive #u12027-4 p,#u11993.MuseMenuActive #u11995-4 p
{
	color: #B8B1A6;
	visibility: inherit;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

