.version.perspectives /* version checker */
{
	color: #000019;
	background-color: #D97885;
}

.html
{
	background-color: #B8B1A6;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 806px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 40px;
	padding-top: 8px;
	padding-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
}

#pu10649
{
	width: 0.01px;
	margin-left: 42px;
}

#u10649
{
	z-index: 108;
	width: 210px;
	min-height: 62px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1024px;
}

#u10658
{
	z-index: 109;
	width: 76px;
	height: 56px;
	margin-right: -10000px;
	left: 1162px;
}

#u10652
{
	z-index: 110;
	width: 25px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1124px;
}

#u11333
{
	z-index: 118;
	width: 652px;
	margin-right: -10000px;
	margin-top: 72px;
}

#u8202
{
	z-index: 120;
	width: 259px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 909px;
}

#u10262
{
	z-index: 2;
	width: 1240px;
	margin-top: 11px;
}

#menuu10038
{
	z-index: 65;
	width: 1203px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u10039
{
	width: 95px;
	min-height: 21px;
	margin-right: -10000px;
}

#u10042
{
	width: 95px;
	padding-bottom: 9px;
}

#u10043-4
{
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042:hover #u10043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10220
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 97px;
}

#u10221
{
	width: 137px;
	padding-bottom: 9px;
}

#u10223-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042.MuseMenuActive #u10043-4,#u10221:hover #u10223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10227
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 236px;
}

#u10230
{
	width: 137px;
	padding-bottom: 9px;
}

#u10232-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10221.MuseMenuActive #u10223-4,#u10230:hover #u10232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10241
{
	width: 208px;
	min-height: 21px;
	margin-right: -10000px;
	left: 375px;
}

#u10242
{
	width: 208px;
	padding-bottom: 9px;
}

#u10243-4
{
	width: 146px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10230.MuseMenuActive #u10232-4,#u10242:hover #u10243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10255
{
	width: 221px;
	min-height: 21px;
	margin-right: -10000px;
	left: 585px;
}

#u10256
{
	width: 221px;
	padding-bottom: 9px;
}

#u10258-4
{
	width: 159px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10242.MuseMenuActive #u10243-4,#u10256:hover #u10258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10248
{
	width: 260px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u10249
{
	width: 260px;
	padding-bottom: 9px;
}

#u10251-4
{
	width: 198px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10256.MuseMenuActive #u10258-4,#u10249:hover #u10251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10234
{
	width: 133px;
	min-height: 21px;
	margin-right: -10000px;
	left: 1070px;
}

#u10235
{
	width: 133px;
	padding-bottom: 9px;
}

#u10042.MuseMenuActive,#u10221.MuseMenuActive,#u10230.MuseMenuActive,#u10242.MuseMenuActive,#u10256.MuseMenuActive,#u10249.MuseMenuActive,#u10235.MuseMenuActive
{
	margin: 0px;
}

#u10236-4
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10249.MuseMenuActive #u10251-4,#u10235:hover #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10235.MuseMenuActive #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u11524-12
{
	z-index: 28;
	width: 507px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 0.8;
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 440px;
	margin-top: 34px;
	position: relative;
}

#u11524-3,#u11524-7
{
	color: #7F7F7F;
}

#u11524-8
{
	color: #FB5702;
	font-weight: bold;
}

#u11524-9
{
	color: #FB5702;
	font-weight: bold;
	font-style: italic;
}

#u11525-5
{
	z-index: 23;
	width: 544px;
	min-height: 45px;
	background-color: transparent;
	line-height: 1.1;
	font-size: 42px;
	color: #333333;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 440px;
	margin-top: 37px;
	position: relative;
}

#u11538-25
{
	z-index: 40;
	width: 350px;
	min-height: 467px;
	background-color: transparent;
	color: #333333;
	line-height: 1.5;
	margin-left: 440px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u11538-5,#u11538-15
{
	font-size: 12px;
}

#u11538-8,#u11538-18
{
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u11538-7,#u11538-13,#u11538-20,#u11538-23
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11538-7  span,#u11538-7  a,#u11538-13  span,#u11538-13  a,#u11538-20  span,#u11538-20  a,#u11538-23  span,#u11538-23  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u11538-4,#u11538-11,#u11538-14,#u11538-17,#u11538-21
{
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu12088-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 44px;
}

#u12088-4
{
	z-index: 3;
	width: 461px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u12111
{
	z-index: 112;
	width: 27px;
	margin-right: -10000px;
	left: 460px;
}

#u12116
{
	z-index: 114;
	width: 27px;
	margin-right: -10000px;
	left: 497px;
}

#u12121
{
	z-index: 116;
	width: 27px;
	margin-right: -10000px;
	left: 534px;
}

#u12089-4
{
	z-index: 7;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 638px;
}

#u12089-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12092-4
{
	z-index: 19;
	width: 189px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 788px;
}

#u12089-4.MuseLinkActive,#u12092-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12090-4
{
	z-index: 11;
	width: 91px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 986px;
}

#u12092-4.MuseLinkActive,#u12090-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4
{
	z-index: 15;
	width: 104px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1094px;
}

#u12090-4.MuseLinkActive,#u12091-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1320px;
	padding-bottom: 100px;
}

