.version.projects /* version checker */
{
	color: #00001A;
	background-color: #AA2953;
}

.html
{
	background-color: #B8B1A6;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 806px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 40px;
	padding-top: 8px;
	padding-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
}

#pu10649
{
	width: 0.01px;
	margin-left: 42px;
}

#u10649
{
	z-index: 386;
	width: 210px;
	min-height: 62px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1024px;
}

#u10658
{
	z-index: 387;
	width: 76px;
	height: 56px;
	margin-right: -10000px;
	left: 1162px;
}

#u10652
{
	z-index: 388;
	width: 25px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1124px;
}

#u11333
{
	z-index: 396;
	width: 652px;
	margin-right: -10000px;
	margin-top: 72px;
}

#u8202
{
	z-index: 398;
	width: 259px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 909px;
}

#u10262
{
	z-index: 135;
	width: 1240px;
	margin-top: 11px;
}

#menuu10038
{
	z-index: 343;
	width: 1203px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u10039
{
	width: 95px;
	min-height: 21px;
	margin-right: -10000px;
}

#u10042
{
	width: 95px;
	padding-bottom: 9px;
}

#u10043-4
{
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042:hover #u10043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10220
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 97px;
}

#u10221
{
	width: 137px;
	padding-bottom: 9px;
}

#u10223-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042.MuseMenuActive #u10043-4,#u10221:hover #u10223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10227
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 236px;
}

#u10230
{
	width: 137px;
	padding-bottom: 9px;
}

#u10232-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10221.MuseMenuActive #u10223-4,#u10230:hover #u10232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10241
{
	width: 208px;
	min-height: 21px;
	margin-right: -10000px;
	left: 375px;
}

#u10242
{
	width: 208px;
	padding-bottom: 9px;
}

#u10243-4
{
	width: 146px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10230.MuseMenuActive #u10232-4,#u10242:hover #u10243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10255
{
	width: 221px;
	min-height: 21px;
	margin-right: -10000px;
	left: 585px;
}

#u10256
{
	width: 221px;
	padding-bottom: 9px;
}

#u10258-4
{
	width: 159px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10242.MuseMenuActive #u10243-4,#u10256:hover #u10258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10248
{
	width: 260px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u10249
{
	width: 260px;
	padding-bottom: 9px;
}

#u10251-4
{
	width: 198px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10256.MuseMenuActive #u10258-4,#u10249:hover #u10251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10234
{
	width: 133px;
	min-height: 21px;
	margin-right: -10000px;
	left: 1070px;
}

#u10235
{
	width: 133px;
	padding-bottom: 9px;
}

#u10042.MuseMenuActive,#u10221.MuseMenuActive,#u10230.MuseMenuActive,#u10242.MuseMenuActive,#u10256.MuseMenuActive,#u10249.MuseMenuActive,#u10235.MuseMenuActive
{
	margin: 0px;
}

#u10236-4
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10249.MuseMenuActive #u10251-4,#u10235:hover #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10235.MuseMenuActive #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u11079-11
{
	z-index: 161;
	width: 507px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 0.8;
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 440px;
	margin-top: 34px;
	position: relative;
}

#u11079-3,#u11079-7
{
	color: #7F7F7F;
}

#u11079-8
{
	color: #FB5702;
	font-weight: bold;
}

#pu11389-133
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 37px;
}

#u11389-133
{
	z-index: 2;
	width: 350px;
	min-height: 333px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
}

#u11389-5
{
	color: #F15A24;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11389-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.6;
}

#u11389-4
{
	font-size: 12px;
	color: #FF7A0B;
}

#u11389-6
{
	line-height: 1.6;
	color: #666666;
}

#u11389-8,#u11389-9,#u11389-17,#u11389-18,#u11389-20,#u11389-21,#u11389-29,#u11389-30,#u11389-35,#u11389-36,#u11389-47,#u11389-48,#u11389-56,#u11389-57,#u11389-62,#u11389-63,#u11389-68,#u11389-69,#u11389-71,#u11389-72,#u11389-80,#u11389-81,#u11389-83,#u11389-84,#u11389-92,#u11389-93,#u11389-98,#u11389-99,#u11389-110,#u11389-111,#u11389-119,#u11389-120,#u11389-125,#u11389-126,#u11389-131
{
	line-height: 1.4;
	color: #333333;
}

#u11389-11,#u11389-14,#u11389-23,#u11389-26,#u11389-32,#u11389-38,#u11389-41,#u11389-44,#u11389-50,#u11389-53,#u11389-59,#u11389-65,#u11389-74,#u11389-77,#u11389-86,#u11389-89,#u11389-95,#u11389-101,#u11389-104,#u11389-107,#u11389-113,#u11389-116,#u11389-122,#u11389-128
{
	color: #333333;
}

#pu11078-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 390px;
}

#u11078-4
{
	z-index: 157;
	width: 498px;
	min-height: 45px;
	background-color: transparent;
	line-height: 1.1;
	font-size: 42px;
	color: #333333;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u11080-152
{
	z-index: 172;
	width: 543px;
	min-height: 467px;
	background-color: transparent;
	line-height: 1.5;
	margin-left: 2px;
	margin-top: 38px;
	position: relative;
}

#u11080-5
{
	font-size: 12px;
	color: #F15A24;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11389-3,#u11080-3,#u11080-6
{
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11080-7,#u11080-8
{
	font-size: 12px;
	color: #F15A24;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u11080-35
{
	font-size: 12px;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11080-5  span,#u11080-35  span,#u11080-35  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u11080-4,#u11080-34,#u11080-65,#u11080-95,#u11080-125
{
	font-size: 14px;
	color: #FF7A0B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11080-17,#u11080-47,#u11080-77,#u11080-107,#u11080-137
{
	color: #FF00FF;
}

#u11080-10,#u11080-15,#u11080-22,#u11080-28,#u11080-40,#u11080-45,#u11080-52,#u11080-58,#u11080-70,#u11080-75,#u11080-82,#u11080-88,#u11080-100,#u11080-105,#u11080-112,#u11080-118,#u11080-130,#u11080-135,#u11080-142,#u11080-148
{
	font-size: 12px;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11389,#u11080-12,#u11080-13,#u11080-19,#u11080-20,#u11080-25,#u11080-26,#u11080-30,#u11080-31,#u11080-33,#u11080-37,#u11080-38,#u11080-42,#u11080-43,#u11080-49,#u11080-50,#u11080-55,#u11080-56,#u11080-60,#u11080-63,#u11080-67,#u11080-68,#u11080-72,#u11080-73,#u11080-79,#u11080-80,#u11080-85,#u11080-86,#u11080-90,#u11080-93,#u11080-97,#u11080-98,#u11080-102,#u11080-103,#u11080-109,#u11080-110,#u11080-115,#u11080-116,#u11080-120,#u11080-123,#u11080-127,#u11080-128,#u11080-132,#u11080-133,#u11080-139,#u11080-140,#u11080-145,#u11080-146,#u11080-150
{
	font-size: 12px;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11077
{
	z-index: 156;
	width: 174px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 955px;
	padding: 76px 10px 102.14999999999986px 19px;
}

#u11082-9
{
	z-index: 334;
	width: 174px;
	min-height: 133px;
	background-color: transparent;
	line-height: 1.1;
	color: #FB5702;
	font-size: 24px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u11082-3,#u11082-5,#u11082-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11082-3  span,#u11082-5  span,#u11082-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.1;
}

#u11082-2,#u11082-4,#u11082-6
{
	font-size: 30px;
}

#u11081-10
{
	z-index: 324;
	width: 165px;
	min-height: 372px;
	background-color: transparent;
	line-height: 1.5;
	color: #333333;
	font-size: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 31px;
	position: relative;
}

#pu12088-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 36px;
}

#u12088-4
{
	z-index: 136;
	width: 461px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u12111
{
	z-index: 390;
	width: 27px;
	margin-right: -10000px;
	left: 460px;
}

#u12116
{
	z-index: 392;
	width: 27px;
	margin-right: -10000px;
	left: 497px;
}

#u12121
{
	z-index: 394;
	width: 27px;
	margin-right: -10000px;
	left: 534px;
}

#u12089-4
{
	z-index: 140;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 638px;
}

#u12089-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12092-4
{
	z-index: 152;
	width: 189px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 788px;
}

#u12089-4.MuseLinkActive,#u12092-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12090-4
{
	z-index: 144;
	width: 91px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 986px;
}

#u12092-4.MuseLinkActive,#u12090-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4
{
	z-index: 148;
	width: 104px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1094px;
}

#u12090-4.MuseLinkActive,#u12091-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1320px;
	padding-bottom: 100px;
}

