.version.publications_and_videos /* version checker */
{
	color: #000011;
	background-color: #5FD046;
}

.html
{
	background-color: #B8B1A6;
}

#page
{
	z-index: 1;
	width: 1320px;
	min-height: 840px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -125px;
	padding-top: 8px;
}

#pu10649
{
	width: 0.01px;
	margin-left: 82px;
}

#u10649
{
	z-index: 178;
	width: 210px;
	min-height: 62px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1024px;
}

#u10658
{
	z-index: 179;
	width: 76px;
	height: 56px;
	margin-right: -10000px;
	left: 1162px;
}

#u10652
{
	z-index: 180;
	width: 25px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1124px;
}

#u11333
{
	z-index: 188;
	width: 652px;
	margin-right: -10000px;
	margin-top: 72px;
}

#u8202
{
	z-index: 190;
	width: 259px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 909px;
}

#u10834
{
	z-index: 200;
	width: 48px;
	height: 56px;
	border-color: #000000;
	background-color: #B8B1A6;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 1238px;
}

#u10262
{
	z-index: 114;
	width: 1240px;
	margin-left: 40px;
	margin-top: 5px;
}

#menuu10038
{
	z-index: 135;
	width: 1203px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 20px;
}

#u10039
{
	width: 95px;
	min-height: 21px;
	margin-right: -10000px;
}

#u10042
{
	width: 95px;
	padding-bottom: 9px;
}

#u10043-4
{
	width: 32px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042:hover #u10043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10220
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 97px;
}

#u10221
{
	width: 137px;
	padding-bottom: 9px;
}

#u10223-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10042.MuseMenuActive #u10043-4,#u10221:hover #u10223-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10227
{
	width: 137px;
	min-height: 21px;
	margin-right: -10000px;
	left: 236px;
}

#u10230
{
	width: 137px;
	padding-bottom: 9px;
}

#u10232-4
{
	width: 74px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10221.MuseMenuActive #u10223-4,#u10230:hover #u10232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10241
{
	width: 208px;
	min-height: 21px;
	margin-right: -10000px;
	left: 375px;
}

#u10242
{
	width: 208px;
	padding-bottom: 9px;
}

#u10243-4
{
	width: 146px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10230.MuseMenuActive #u10232-4,#u10242:hover #u10243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10255
{
	width: 221px;
	min-height: 21px;
	margin-right: -10000px;
	left: 585px;
}

#u10256
{
	width: 221px;
	padding-bottom: 9px;
}

#u10258-4
{
	width: 159px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10242.MuseMenuActive #u10243-4,#u10256:hover #u10258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10248
{
	width: 260px;
	min-height: 21px;
	margin-right: -10000px;
	left: 808px;
}

#u10249
{
	width: 260px;
	padding-bottom: 9px;
}

#u10251-4
{
	width: 198px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10256.MuseMenuActive #u10258-4,#u10249:hover #u10251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10234
{
	width: 133px;
	min-height: 21px;
	margin-right: -10000px;
	left: 1070px;
}

#u10235
{
	width: 133px;
	padding-bottom: 9px;
}

#u10042.MuseMenuActive,#u10221.MuseMenuActive,#u10230.MuseMenuActive,#u10242.MuseMenuActive,#u10256.MuseMenuActive,#u10249.MuseMenuActive,#u10235.MuseMenuActive
{
	margin: 0px;
}

#u10236-4
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	top: 4px;
	left: 31px;
}

#u10249.MuseMenuActive #u10251-4,#u10235:hover #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10235.MuseMenuActive #u10236-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u10764-8
{
	z-index: 192;
	width: 316px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 0.8;
	font-size: 9px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 480px;
	margin-top: 34px;
	position: relative;
}

#u10764-4
{
	color: #7F7F7F;
}

#u10764-5
{
	color: #FB5702;
	font-weight: bold;
}

#u11008-4
{
	z-index: 2;
	width: 595px;
	min-height: 45px;
	background-color: transparent;
	line-height: 1.1;
	font-size: 44px;
	color: #333333;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 478px;
	margin-top: 37px;
	position: relative;
}

#ppu11845
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 6px;
}

#pu11845
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
}

#u11845
{
	z-index: 46;
	width: 350px;
	background-color: transparent;
	position: relative;
}

#u11430-19
{
	z-index: 27;
	width: 343px;
	min-height: 292px;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#u11430-2
{
	font-size: 12px;
	text-align: left;
	line-height: 1.6;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11430-4
{
	font-size: 12px;
	text-align: left;
	line-height: 1.6;
	color: #FF7A0B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11430-5
{
	font-size: 12px;
	text-align: left;
	line-height: 1.6;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11430-10,#u11430-11
{
	font-size: 10px;
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11430-12
{
	font-size: 12px;
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11430-8,#u11430-15
{
	font-size: 12px;
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u11430-6,#u11430-13
{
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11430-17
{
	font-size: 10px;
	text-align: left;
	line-height: 1.5;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#pu11015-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 390px;
}

#u11015-9
{
	z-index: 17;
	width: 184px;
	min-height: 40px;
	background-color: #FFFFFF;
	line-height: 0.8;
	font-size: 10px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: normal;
	position: relative;
}

#u11015-4,#u11015-7
{
	color: #666666;
}

#u11009-11
{
	z-index: 6;
	width: 545px;
	min-height: 289px;
	background-color: transparent;
	line-height: 1.6;
	color: #C1272D;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 1px;
	position: relative;
}

#pu11889-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 975px;
}

#u11889-8
{
	z-index: 48;
	width: 210px;
	min-height: 43px;
	background-color: transparent;
	font-size: 12px;
	text-align: left;
	position: relative;
}

#u11889-2
{
	line-height: 1.6;
	color: #333333;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u11889-4
{
	line-height: 1.6;
	color: #FF7A0B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11889-6
{
	line-height: 1;
	color: #FF7A0B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#widgetu12268
{
	z-index: 56;
	width: 0.01px;
	height: 265px;
	margin-top: 21px;
	position: relative;
}

#widgetu12270
{
	z-index: 57;
	width: 175px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu12270.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12272-4
{
	z-index: 58;
	width: 173px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #333333;
	font-size: 11px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12272
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u12273-3
{
	z-index: 62;
	width: 161px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu12270.non-empty-st #u12273-3
{
	background-color: #FFFFFF;
}

#widgetu12270:hover #u12273-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12270.focus-st #u12273-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12270.non-empty-st #u12273-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12270:hover #u12273-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12270.focus-st #u12273-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12274
{
	z-index: 65;
	width: 175px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu12274.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u12277-4
{
	z-index: 66;
	width: 173px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #333333;
	font-size: 11px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu12274.fld-err-st #u12277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u12275-3
{
	z-index: 70;
	width: 161px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu12274.non-empty-st #u12275-3
{
	background-color: #FFFFFF;
}

#widgetu12274:hover #u12275-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12274.focus-st #u12275-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12274.non-empty-st #u12275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12274:hover #u12275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12274.focus-st #u12275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u12278-4
{
	z-index: 73;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu12268.frm-sub-st #u12278-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12284-4
{
	z-index: 77;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu12268.frm-subm-err-st #u12284-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12279-4
{
	z-index: 81;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 1;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu12268.frm-sub-st #u12278-4,#widgetu12268.frm-subm-err-st #u12284-4,#widgetu12268.frm-subm-ok-st #u12279-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu12268.frm-subm-ok-st #u12279-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u12269-21
{
	z-index: 85;
	min-height: 20px;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	background: url("../images/u12269-21.png") no-repeat 0px 0px;
}

#u12269-21:hover
{
	background: url("../images/u12269-21-r.png") no-repeat 0px 0px;
}

#u12269-21:active
{
	background: url("../images/u12269-21-m.png") no-repeat 0px 0px;
}

#widgetu12268.frm-sub-st #u12269-21
{
	background: url("../images/u12269-21-fs.png") no-repeat 0px 0px;
}

#widgetu12280
{
	z-index: 106;
	width: 175px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu12280.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u12282-4
{
	z-index: 107;
	width: 173px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #6B6B6B;
	font-size: 11px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu12270.fld-err-st #u12272-4,#widgetu12280.fld-err-st #u12282-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu12270.fld-err-st #u12272-4 p,#widgetu12270.fld-err-st #u12272-4 span,#widgetu12274.fld-err-st #u12277-4 p,#widgetu12274.fld-err-st #u12277-4 span,#widgetu12280.fld-err-st #u12282-4 p,#widgetu12280.fld-err-st #u12282-4 span
{
	color: #D7244C;
}

#u11015-3,#u12282
{
	color: #333333;
}

#u12283-3
{
	z-index: 111;
	width: 161px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu12280.non-empty-st #u12283-3
{
	background-color: #FFFFFF;
}

#widgetu12280:hover #u12283-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12280.focus-st #u12283-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12270.fld-err-st #u12273-3,#widgetu12274.fld-err-st #u12275-3,#widgetu12280.fld-err-st #u12283-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 161px;
	margin: 19px -10000px 0px 0px;
}

#widgetu12280.non-empty-st #u12283-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12280:hover #u12283-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12280.focus-st #u12283-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu12270.fld-err-st #u12273-3 *,#widgetu12274.fld-err-st #u12275-3 *,#widgetu12280.fld-err-st #u12283-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu12270_input,#widgetu12274_input,#widgetu12280_input
{
	width: 161px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu12270:hover #widgetu12270_input,#widgetu12270.focus-st #widgetu12270_input,#widgetu12270.fld-err-st #widgetu12270_input,#widgetu12274:hover #widgetu12274_input,#widgetu12274.focus-st #widgetu12274_input,#widgetu12274.fld-err-st #widgetu12274_input,#widgetu12280:hover #widgetu12280_input,#widgetu12280.focus-st #widgetu12280_input,#widgetu12280.fld-err-st #widgetu12280_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#pu12088-4
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 36px;
}

#u12088-4
{
	z-index: 115;
	width: 461px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u12111
{
	z-index: 182;
	width: 27px;
	margin-right: -10000px;
	left: 460px;
}

#u12116
{
	z-index: 184;
	width: 27px;
	margin-right: -10000px;
	left: 497px;
}

#u12121
{
	z-index: 186;
	width: 27px;
	margin-right: -10000px;
	left: 534px;
}

#u12089-4
{
	z-index: 119;
	width: 112px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 638px;
}

#u12089-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12092-4
{
	z-index: 131;
	width: 189px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 788px;
}

#u12089-4.MuseLinkActive,#u12092-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12090-4
{
	z-index: 123;
	width: 91px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 986px;
}

#u12092-4.MuseLinkActive,#u12090-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4
{
	z-index: 127;
	width: 104px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1094px;
}

#u12090-4.MuseLinkActive,#u12091-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u12091-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 8px -10000px 0px 0px;
}

#u11017
{
	z-index: 26;
	width: 1391px;
	height: 92px;
	border-color: #000000;
	background-color: #B8B1A6;
	left: -50px;
	margin-top: 59px;
	position: relative;
}

#keywords
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
}

#filterBtn
{
	min-height: 20px;
	width: 81px;
	position: relative;
	margin-right: 0px;
	margin-top: 10px;
	background: url("../images/u12304-21.png") no-repeat 0px 0px;
}

#resetBtn
{
	min-height: 20px;
	width: 81px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size: 10px;
	font-weight: 600;
	margin-right: 0px;
	margin-top: 10px;
	/*background: url("../images/u12304-21.png") no-repeat 0px 0px;*/
}

.publications-lead
{
	font-size: 12px;
	text-align: left;
	line-height: 1.6;
	color: #FF7A0B;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

.publication
{
	z-index: 27;
	font-size: 12px;
	text-align: left;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	line-height: 1.1;
	width: 343px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

.publications-year
{
	color: #FF7A0B;
	font-weight: 700;
}


body
{
	position: relative;
	min-width: 1320px;
	padding-bottom: 100px;
}

